<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="BAR_DB"
         connectionString="Data Source=.\SQLSERVER2016;
                           Initial Catalog=BAR_DB;
                           Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <!-- TOEVOEGEN connectionstring 'MultipleActiveResultSets=True' (for lazy-loading during AsEnumerable on parent-entities) -->
    <add name="SupportCenterDB_SqlClient" connectionString="Data Source=.\SQLSERVER2012;Initial Catalog=SupportCenterDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>