.font_22 {
    font-size: 22px !important;
}

.searchbar {
    width: 250px !important;
}

#datatable-responsive {
    font-size: 16px !important;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 12px !important;
    cursor: pointer;
}