/*
GENERAL
 */

.font_22 {
    font-size: 22px !important;
}
#datatable-responsive {
    font-size: 16px !important;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 12px !important;
    cursor: pointer;
}

.no-scrollbar {
    overflow-y: hidden !important;
}

.zero-margin {
    margin: 0 !important;
}

/*
MODIFYABLE DASHBOARD
 */

.grid-stack {
    position: relative;
    width: 100%;
    margin-left: -10px !important;
}

.w-100 {
    width: 100% !important;
}

/*
Search
 */

.navbar .navbar-search .dropdown-menu { min-width: 25px; }
.dropdown-menu .label-icon { margin-left: 5px; }
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}
.searchbar {
    display: block;
    width: 60% !important;
    padding-top: 12px;
}

.dropdown-search {
    right: auto !important;
}

.search-field {
    width: 100%;
}

.navbar-form .input-group .input-group-btn {
    width: 1% !important;
}

@media (max-width: 770px) {
    .searchbar {
        display: none;
    }
    .navbar-right {
        width: auto !important;
    }

}

li.signup {
    margin-right: 20px;
    background-color: #00BB9D;
    color: white !important;
}
.nav.navbar-nav>li>a.signup {
    color: white !important;
}
.nav.navbar-nav>li>a.signup:hover {
    background-color:#009B7F;   
}