@using System.Web.Optimization
@model BAR.UI.MVC.Models.ItemViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

@section CustomCSS{
    @Styles.Render("~/bundles/datatables")
}

<div class="col-md-12 col-sm-12 col-xs-12">

    <h1>@Model.PageTitle</h1>
    <hr/>
    <p class="text-muted font-16 m-b-30">
        Extra informatie over de partijen en uitleg over de attributen etc.
    </p>

    @Html.Partial("Partials/PersonTable", Model)
</div>
<div style="visibility: hidden">t</div>

@section CustomJS{
    @Scripts.Render("~/bundles/datatablesScripts")
}