@using System.Web.Optimization
@model BAR.UI.MVC.Models.ItemViewModels.ItemViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

@section CustomCSS{
    <link href="~/Scripts/datatables/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet"></link>
    <link href="~/Scripts/datatables/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet"></link>

}

<div class="col-md-12 col-sm-12 col-xs-12">

    <h1>@Model.PageTitle</h1>
    <hr />
    <p class="text-muted font-16 m-b-30">
        Extra informatie over de partijen en uitleg over de attributen etc.
    </p>

    @Html.Partial("Partials/_PersonTable", Model)
</div>
<div style="visibility: hidden">t</div>

@section CustomJS{
    <script src="~/Scripts/datatables/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
}