@model System.Web.Mvc.HandleErrorInfo

@{
  ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger">Dit account is nu vergrendeld, probeer het later opnieuw.</h2>
</hgroup>