@using System.Web.Optimization
@model BAR.UI.MVC.Models.ItemViewModels.ItemViewModel

@section CustomCSS{
    <script src="~/Scripts/datatables/datatables.net-bs/css/dataTables.bootstrap.min.css"></script>
    <script src="~/Scripts/datatables/datatables.net-responsive-bs/css/responsive.bootstrap.min.css"></script>

}

<h1>@Model.PageTitle</h1>
<hr />
@Html.Partial("Partials/_ThemeTable", Model)
<div style="visibility: hidden">space</div>

@section CustomJS{
    <script src="~/Scripts/datatables/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
}