@model BAR.UI.MVC.Models.BaseViewModel

<h1>@Model.PageTitle</h1>
<hr/>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@Model.PageTitle</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br/>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    Hoofdstuk
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    Privacy en veiligheid
                    Je persoonlijke gegevens. Je laat ze bij ons achter, want dat moet nu eenmaal als je iets wilt bestellen. Maar we kunnen ons voorstellen dat je graag wilt weten waarom wij om je persoonlijke gegevens vragen en wat wij ermee doen. Dat vertellen we je hier graag. Heb je na het lezen hiervan nog vragen, laat het ons dan weten via onze klantenservice.

                    Heel veilig
                    Alle gegevens die je bij ons achterlaat stoppen wij heel veilig achter slot en grendel met de modernste technieken. Wie niks met jouw gegevens te maken heeft, kan er simpelweg niet bij. Geven we jouw gegevens aan iemand anders – je leest hieronder waarom en wanneer we dat doen – dan eisen we dat die ander net zo zorgvuldig met jouw gegevens omgaat als wij en ze alleen gebruikt voor het doel waarvoor hij ze heeft gekregen. Mocht je het gevoel hebben dat dit niet gebeurt, laat het ons dan weten via onze klantenservice

                    Persoonlijk
                    Vaak gebruiken wij je gegevens om je een zo persoonlijk mogelijke winkelervaring te bieden. We passen wat jij op bol.com ziet aan op jouw interesses. Zo maken we de ene persoon blij met aanbiedingen voor bijvoorbeeld Barbiepoppen en de andere met het laatste nieuws op het gebied van elektronica. Wij gebruiken daarvoor bijvoorbeeld gegevens van eerdere bestellingen, je IP-adres en surf- en zoekgedrag bewaard in cookies. Over cookies kun je hieronder meer lezen.
                    Wat doen we verder met je gegevens
                    Wij gebruiken je gegevens voor verschillende doelen. Hierna kun je zien welke doelen dat zijn. Wij gebruiken daarbij van jou ontvangen gegevens, maar ook door onszelf verzamelde gegevens. Bijvoorbeeld gegevens over je bezoek aan onze website.

                    Je bestelling leveren
                    Voor je bestelling hebben we je naam, e-mailadres, adres(sen), betaalgegevens en soms ook je telefoonnummer nodig. Daarmee kunnen we je bestelling bezorgen en je op de hoogte houden over je bestelling. We geven je gegevens ook aan anderen als dat nodig is voor een bestelling, bijvoorbeeld aan bezorgdiensten en ons distributiecentrum. En als je op bol.com bij een externe verkoper bestelt, geven we je gegevens aan deze verkoper. We eisen van onze externe verkopers dat ze net zo zorgvuldig met jouw gegevens omgaan als wij dat doen.
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                Hoofdstuk
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">

                Je account
                In je account op bol.com slaan we onder andere de volgende informatie op: je naam, adres(sen), telefoonnummer, e-mailadres, aflever- en betaalgegevens en opgegeven informatie en interesses (bijvoorbeeld als we je gevraagd hebben naar je geboortedatum). Handig, want dan hoef je deze gegevens niet elke keer opnieuw in te voeren. We bewaren ook gegevens over je eerdere bestellingen zodat je deze makkelijk kan terugvinden.

                Klantenservice
                Je kunt met ons bellen en chatten met onze virtuele assistent Billie op onze website. Om je snel te kunnen helpen bij vragen, maken we gebruik van je gegevens en maken we aantekeningen die we bewaren. Handig als je ons nog een keer belt. Gegevens over het telefoongesprek met jou worden geregistreerd en ook een chat met Billie wordt bewaard. Je helpt ons zo bij analyses en verbetering van onze diensten. Soms maken we gebruik van een andere partij voor het geven van antwoord op je vragen. Die kan daarvoor jouw gegevens gebruiken.

                Reparatie
                Soms maken we gebruik van een andere partij voor het uitvoeren van reparaties aan producten die je bij ons hebt gekocht. Die partij kan daarvoor jouw gegevens gebruiken.

                Nieuwsbrieven
                Je kunt je aanmelden voor onze verschillende nieuwsbrieven. Zo blijf je op de hoogte van onze aanbiedingen, acties en ons nieuws. We hebben algemene en persoonlijke nieuwsbrieven. De persoonlijke nieuwsbrieven stellen we samen op basis van je gegevens, zoals eerdere bestellingen. Dat maakt de nieuwsbrief interessanter voor je. Wil je geen nieuwsbrieven van ons meer ontvangen, meld je dan hier af. Simpel toch?
            </div>
        </div>
    </div>
</div>