@using System.Web.Optimization
@model BAR.UI.MVC.Models.ItemViewModels.PersonViewModels

@section CustomCSS{
    @Styles.Render("~/bundles/datatables-css")
}

<h1>@Model.PageTitle</h1>
<hr/>
@Html.Partial("Partials/_PersonTable", Model)
<div style="visibility: hidden">space</div>

@section CustomJS{
    @Scripts.Render("~/bundles/datatables")
}