@using System.Web.Optimization
@model BAR.UI.MVC.Models.ItemViewModels.ItemViewModel

@section CustomCSS{
    @Styles.Render("~/bundles/datatables-css")
}

<h1>@Model.PageTitle</h1>
<hr/>
@Html.Partial("Partials/_PersonTable", Model)
<div style="visibility: hidden">space</div>

@section CustomJS{
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
        (() => {
            $('#datatable-infinite').dataTable({
                "searching": false,
                "bScrollInfinite": true,
                "bScrollCollapse": true,
                "sScrollY": "1000px",
                "paging": false,
                "bProcessing": true,
                "info": false
            });

            var wto;
            $('.subscribeItem').click(function() {
                clearTimeout(wto);
                var $this = $(this);
                var id = $this.data('item-id');
                var text = $this.html();
                $this.html("<i class='fa fa-circle-o-notch fa-spin'></i>");
                wto = setTimeout(function() {
                        $.ajax({
                                type: 'POST',
                                url: '/api/ToggleSubscribe/' + id
                            }).fail(() => { /* ok */ })
                            .done(function() {
                                if (text === "Abonneer") $this.html("Uitschrijven");
                                else $this.html("Abonneer");
                                $this.toggleClass("btn-danger btn-success");
                            });
                    },
                    500);
            });
        })($);
    </script>
}