@using System.Web.Optimization
@model BAR.UI.MVC.Models.ItemViewModels.ItemViewModel

@section CustomCSS{
    <link href="~/Scripts/datatables/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet"></link>
    <link href="~/Scripts/datatables/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet"></link>
}

<h1>@Model.PageTitle</h1>
<hr/>
@Html.Partial("Partials/_PersonTable", Model)
<div style="visibility: hidden">space</div>

@section CustomJS{
    <script src="~/Scripts/datatables/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        (() => {
            $('#datatable-infinite').dataTable({
                "searching": true,
                "bScrollInfinite": true,
                "bScrollCollapse": true,
                "sScrollY": "750px",
                "paging": true,
                "bProcessing": true,
                "info": true
            });

            $('.subscribeItem').click(function() {
                ajaxToggleSubscribe($(this));
            });
        })($);
    </script>
}