@using System.Web.Optimization
@model BAR.UI.MVC.Models.ItemViewModels.PersonViewModels

@section CustomCSS{
    @Styles.Render("~/bundles/datatables-css")
}

<h1>@Model.Customization.PersonsAlias</h1>
<hr/>
@Html.Partial("Partials/_PersonTable", Model)
<div style="visibility: hidden">space</div>

@section CustomJS{
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
        (() => {
            $('#datatable-infinite').dataTable({
                "searching": true,
                "bScrollInfinite": true,
                "bScrollCollapse": true,
                "sScrollY": "760px",
                "paging": true,
                "bProcessing": true,
                "info": true
            });
            
            $(document).on("click", ".subscribeItem", (e) => ajaxToggleSubscribe(e));
        })($);
    </script>
}