@using System.Web.Optimization
@model BAR.UI.MVC.Models.UserViewModel

@{
    ViewBag.Title = "Politici";
}

@section CustomCSS{
    @Styles.Render("~/bundles/datatables")
}

<div class="col-md-12 col-sm-12 col-xs-12">

    <h1>Politici-overzicht</h1>
    <hr/>
    <p class="text-muted font-16 m-b-30">
        Extra informatie over de politici en uitleg over de attributen etc.
    </p>

    @Html.Partial("Partials/PersonTable", Model)
</div>
<div style="visibility: hidden">t</div>

@section CustomJS{
    @Scripts.Render("~/bundles/datatablesScripts")
    <script type="text/javascript">
        function personSubscribe(id) {
            $.ajax({
                type: 'POST',
                url: '/api/Subscribe/'+id
            }).fail(() => {/* ok */});
            event.preventDefault();
        }
        function personUnsubscribe(id) {
            $.ajax({
                type: 'POST',
                url: `/api/User/Subscription/${id}/Delete`
            }).fail(() => {/* ok */});
            event.preventDefault();
        }
    </script>
}