@using System.Web.Optimization
@model BAR.UI.MVC.Models.ItemViewModels.PersonViewModels

@section CustomCSS{
    <link href="~/Scripts/datatables/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Scripts/datatables/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet"/>


}

<h1>@Model.Customization.PersonsAlias</h1>
<hr />
@Html.Partial("Partials/_PersonTable", Model)
<div class="space">space</div>

@section CustomJS{
    <script src="~/Scripts/datatables/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
}