@{
    ViewBag.Title = "About";
}

<style type="text/css">
    
    .grid-stack {
        position: relative;
        width: 100%;
        margin-left: -10px !important;
    }

    /*    .grid-stack-item[data-gs-width="3"] { width: 100% !important }*/
    /**/
    /*    .grid-stack-item[data-gs-width="2"] { width: 66.66% !important }*/
    /**/
    /*    .grid-stack-item[data-gs-width="1"] { width: 33.33% !important }*/
    /**/
    /*    .grid-stack-item[data-gs-x="2"] { left: 66.66% !important }*/
    /**/
    /*    .grid-stack-item[data-gs-x="1"] { left: 33.33% !important }*/

    .grid-stack-item-content {
        background-color: white;
        overflow-y: hidden !important;
    }

    #containergrid { margin-left: -10px !important; }

</style>


<div class="container-fluid">
    <h1>knockout.js Demo</h1>

    <div>
        <button id="btnAddWidget" class="btn btn-primary">Add new widget</button>
    </div>

    <br>

    <div class="grid-stack" id="grid"></div>
</div>