@{
    ViewBag.Title = "About";
}

<style type="text/css">
    /* TODO: Move to css file */
    .grid-stack {
        position: relative;
        width: 100%;
        margin-left: -10px !important;
    }

    .grid-stack-item-content {
        background-color: white;
        overflow-y: hidden !important;
    }

    #containergrid { margin-left: -10px !important; }

</style>


<div class="container-fluid">
    <h1>knockout.js Demo</h1>

    <div>
        <button id="btnAddLine" class="btn btn-primary">Add line chart</button>
        <button id="btnAddPie" class="btn btn-primary">Add pie chart</button>
        <button id="btnAddBar" class="btn btn-primary">Add bar chart</button>
    </div>

    <br>

    <div class="grid-stack" id="grid"></div>
</div>