@{
    ViewBag.Title = "About";
}

@section CustomCSS{
    <link rel="stylesheet" href="../../Content/gridstack/gridstack.css"/>
}


<section class="container-fluid">
    <h1>Widgets met grafieken</h1>
    <div>
        <button id="btnAddLine" class="btn btn-primary">Add line chart</button>
        <button id="btnAddPie" class="btn btn-primary">Add donut chart</button>
        <button id="btnAddBar" class="btn btn-primary">Add bar chart</button>
    </div>
    <br>

    <div class="grid-stack" id="grid"></div>
</section>
<div style="visibility: hidden">t</div>

@section CustomJS{
    <script src="../../Content/gridstack/jquery-ui.js"></script>
    <script src="../../Content/gridstack/underscore.min.js"></script>
    <script src="../../Content/gridstack/gridstack.js"></script>
    <script src="../../Content/gridstack/gridstack.jQueryUI.js"></script>
    <script src="../../vendors/raphael/raphael.min.js"></script>
    <script src="../../vendors/morris.js/morris.min.js"></script>
    <script src="../../Content/widgets/widgets.js"></script>
    <script src="../../vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
}