@{
    ViewBag.Title = "About";
}

@section CustomCSS{
    <link rel="stylesheet" href="../../Content/gridstack/gridstack.css"/>
    <link href="../../vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
}


<section class="container-fluid">
    <h1>Widgets met grafieken</h1>
    <div>
        <button id="btnAddLine" class="btn btn-primary">Add line chart</button>
        <button id="btnAddPie" class="btn btn-primary">Add pie chart</button>
        <button id="btnAddBar" class="btn btn-primary">Add bar chart</button>
    </div>
    <br>

    <div class="grid-stack" id="grid"></div>
</section>
<div style="visibility: hidden">t</div>

<!-- form color picker -->
<div class="col-md-6 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Color Picker</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link">
                        <i class="fa fa-close"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br/>
            <form class="form-horizontal form-label-left">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Primaire kleur</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="input-group demo2">
                            <input id="cp_primary" type="text" value="#e01ab5" class="form-control"/>
                            <span class="input-group-addon">
                                <i></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Secundaire kleur</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="input-group demo2">
                            <input type="text" value="#e01ab5" class="form-control"/>
                            <span class="input-group-addon">
                                <i></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tertiaire kleur</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="input-group demo2">
                            <input type="text" value="#e01ab5" class="form-control"/>
                            <span class="input-group-addon">
                                <i></i>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /form color picker -->
@section CustomJS{
    <script src="../../Content/gridstack/jquery-ui.js"></script>
    <script src="../../Content/gridstack/underscore.min.js"></script>
    <script src="../../Content/gridstack/gridstack.js"></script>
    <script src="../../Content/gridstack/gridstack.jQueryUI.js"></script>
    <script src="../../vendors/raphael/raphael.min.js"></script>
    <script src="../../vendors/morris.js/morris.min.js"></script>
    <script src="../../Content/widgets/widgets.js"></script>
    <script src="../../vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
}