@{
  ViewBag.Title = "Bevestig je mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Bedankt voor je mail adres te bevestigen. Ja kan nu @Html.ActionLink("inloggen", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })
        .
    </p>
</div>
