@{
  ViewBag.Title = Resources.ConfirmYourEmail;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @Resources.ThanksEmailConfirm @Resources.NowYouCan @Html.ActionLink(Resources.Login.ToLower(), "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })
        .
    </p>
</div>
