@{
  ViewBag.Title = "Wachtwoord vergeet bevestiging";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Er is een mail verstuurd om je wachtwoord te resetten.
    </p>
</div>

