
@{
    ViewBag.Title = "Index";
}

<h2>title</h2>

<table class="table">

    @foreach (var alert in ViewBag.Alerts)
    {
    <td>
        @Convert.ToString(alert.AlertId);
    </td>
    }
</table>


