
@{
    ViewBag.Title = "Index";
}

<h2>title</h2>

<table class="table">

    @foreach (var alert in ViewBag.Alerts)
    {
      <tr>
    <td>
        @Convert.ToString(alert.AlertId)
    </td>

    <td>
        @Convert.ToString(alert.Subscription.SubscribedUser.FirstName)
    </td>
    <td>
        @Convert.ToString(alert.Subscription.SubscribedItem.Name)
    </td>
          </tr>
    }
</table>


