@model System.Collections.Generic.IEnumerable<BAR.BL.Domain.Users.Alert>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<table class="table">
    
    @foreach( var alert in Model)
    {
      <td>
          @Convert.ToString(alert.AlertId);
      </td>
    }
 </table>
