@using System.Web.Optimization
@{
    ViewBag.Title = "About";
}

@section CustomCSS{
    <link rel="stylesheet" href="../../Content/build/css/gridstack.css"/>
}

@section Alerts{
    <li role="presentation" class="dropdown">
        <a id="alertDropdown" href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
           aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span id="alertCount" class="badge bg-green"></span>
        </a>
        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            <div class="loadingAlerts"></div>
        </ul>
    </li>
}

<section class="container-fluid">
    <h1>Widgets met grafieken</h1>
    <div>
        <button id="btnAddLine" class="btn btn-primary">Add line chart</button>
        <button id="btnAddPie" class="btn btn-primary">Add donut chart</button>
        <button id="btnAddBar" class="btn btn-primary">Add bar chart</button>
        <button id="saveWidgets" class="btn btn-primary">Save changes</button>
    </div>
    <br>

    <div class="grid-stack" id="grid">

    </div>
</section>

<div style="visibility: hidden">t</div>

@section CustomJS{
    @Scripts.Render("~/bundles/gridstack", "~/bundles/morrisCharts")
    <script type="text/javascript">
        
        //When an alert is clicked, this function is called.
        //It sets the property isRead of Alert to true.
        function markAsRead(id) {
            $.ajax('/api/User/'+@ViewBag.Id+'/Alert/'+id+'/Read',
                    {
                        type: 'PUT',
                        dataType: 'json'
                    })
                .done(function(data) {
                    $('#alert' + id).addClass('alertRead');
                })
                //TODO: if FAIL proper error handling
                .fail(function() { alert('Cannot change alert.'); });
        }
        

        //Loads the alerts inside the notifications panel in the top-navbar
        function InsertAlerts(alertData) {
            for (var i = 0; i < alertData.length; i++) {
                var alert = alertData[i];
                var read = "";
                if (alert.IsRead) {
                    read = "alertRead";
                }
                $('#menu1').append("<li class=\"alertMessage"+alert.AlertId+" "+read+"\" onclick=\"markAsRead("+alert.AlertId+"); " +
                    "location.href = \'/Person/Details/"+alert.AlertId+"\';\"><a><span><span><strong>" +
                    alert.Name +
                    "</strong> is nu trending!</span></span><span class=\"message\">"+
                    jQuery.timeago(alert.TimeStamp)+"</span></a></li>");

                if (!alert.IsRead) {
                    //Loads the pop ups notifications.
                    new PNotify({
                        title: 'Trending Alert',
                        text: '<strong>' + alert.Name + '</strong> is nu trending!',
                        type: 'success',
                        styling: 'bootstrap3'
                    });
                }
            }
        }
        function loadAlerts() {
            $(".loadingAlerts").css("display","block");
            $.ajax('/api/User/@ViewBag.Id/GetAlerts',
                    {
                        type: 'GET',
                        dataType: 'json'
                    })
                .done(function(data) {
                    $(".loadingAlerts").css("display", "none");
                    var alertData = data;
                    console.log(alertData);
                    InsertAlerts(data);
                    $('#menu1').append(
                        "<li><div class=\"text-center\"><a><strong>See All Alerts</strong><i class=\"fa fa-angle-right\"></i></a></div></li>");
                    $('#alertCount').html(alertData.length);
                })
                //TODO: if FAIL proper error handling
                .fail(function() {
                    //error handling.
                    //currently not implemented because database needs to be initialized on page reload.
                });
        }
        
        function loadWidgets() {
            $.ajax('/api/Widget',
                    {
                        type: 'GET',
                        dataType: 'json'
                    })
                .done(function(data) {
                    //if GET request is succesfull: call loadGrid() in widgets.js -> loads all widgets
                    loadGrid(data);
                })
                //TODO: if FAIL proper error handling
                .fail(function() { alert('Widgets could not be loaded.'); });
        }

        //ajax calls
        (function() {
            $('#saveWidgets').on('click', saveGrid);
            //GET Request for alerts
            loadAlerts();

            //GET Request for widgets
            loadWidgets();

            $('#alertDropdown').on('click', InsertAlerts);

            
        })(jQuery);
    </script>
}