@{
    ViewBag.Title = "About";
}

@section CustomCSS{
    <link rel="stylesheet" href="../../Content/gridstack/gridstack.css"/>
    <link href="../../vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="../../vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="../../vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
}

@section Alerts{
    <li role="presentation" class="dropdown">
        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
           aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span id="alertCount" class="badge bg-green"></span>
        </a>
        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
        </ul>
    </li>
}

<section class="container-fluid">
    <h1>Widgets met grafieken</h1>
    <div>
        <button id="btnAddLine" class="btn btn-primary">Add line chart</button>
        <button id="btnAddPie" class="btn btn-primary">Add donut chart</button>
        <button id="btnAddBar" class="btn btn-primary">Add bar chart</button>
        <button id="saveWidgets" class="btn btn-primary">Save changes</button>
    </div>
    <br>

    <div class="grid-stack" id="grid">

    </div>
</section>

<div style="visibility: hidden">t</div>

@section CustomJS{
    <script src="../../Content/gridstack/jquery-ui.js">
    </script>
    <script src="../../Content/gridstack/underscore.min.js"></script>
    <script src="../../Content/gridstack/gridstack.js"></script>
    <script src="../../Content/gridstack/gridstack.jQueryUI.js"></script>
    <script src="../../vendors/raphael/raphael.min.js"></script>
    <script src="../../vendors/morris.js/morris.min.js"></script>
    <script src="../../Content/widgets/widgets.js"></script>
    <script src="../../vendors/pnotify/dist/pnotify.js"></script>
    <script src="../../vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="../../vendors/pnotify/dist/pnotify.nonblock.js"></script>
    <script type="text/javascript">
        (function() {
            $('#saveWidgets').on('click', saveGrid);
            //GET Request for alerts
            var alerts = []
            $.ajax('/api/Alert/@ViewBag.Id',
                    {
                        type: 'GET',
                        dataType: 'json'
                    })
                .done(function(data) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        if (!alerts.includes(data[i].AlertId)) {
                            $('#menu1').append("<li><a><span><span><strong>" +
                                data[i].Name +
                                "</strong> is nu trending!</span></span>" +
                                "<span class=\"message\">nu</span></a></li>");
                            new PNotify({
                                title: 'Trending Alert',
                                text: '<strong>' + data[i].Name + '</strong> is nu trending!',
                                type: 'success',
                                styling: 'bootstrap3'
                            });
                            alerts.push(data[i].AlertId);
                        }
                    }
                    $('#menu1').append("<li><div class=\"text-center\"><a><strong>See All Alerts</strong><i class=\"fa fa-angle-right\"></i></a></div></li>");
                    $('#alertCount').html(alerts.length);
                })
                //TODO: if FAIL proper error handling
                .fail(function() { alert('Oeps, something went wrong!'); });

            //GET Request for widgets
            $.ajax('/api/Widget',
                    {
                        type: 'GET',
                        dataType: 'json'
                    })
                .done(function(data) {
                    //if GET request is succesfull: call loadGrid() in widgets.js -> loads all widgets
                    loadGrid(data);
                })
                //TODO: if FAIL proper error handling
                .fail(function() { alert('Oeps, something went wrong!'); });
        })(jQuery);
    </script>
}