@using System.Web.Optimization
@{
    ViewBag.Title = "About";
}

@section CustomCSS{
    <link rel="stylesheet" href="../../Content/build/css/gridstack.css"/>
    <link href="../../vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="../../vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="../../vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
}

@section Alerts{
    <li role="presentation" class="dropdown">
        <a id="alertDropdown" href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
           aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span id="alertCount" class="badge bg-green"></span>
        </a>
        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
        </ul>
    </li>
}

<section class="container-fluid">
    <h1>Widgets met grafieken</h1>
    <div>
        <button id="btnAddLine" class="btn btn-primary">Add line chart</button>
        <button id="btnAddPie" class="btn btn-primary">Add donut chart</button>
        <button id="btnAddBar" class="btn btn-primary">Add bar chart</button>
        <button id="saveWidgets" class="btn btn-primary">Save changes</button>
    </div>
    <br>

    <div class="grid-stack" id="grid">

    </div>
</section>

<div style="visibility: hidden">t</div>

@section CustomJS{
    @Scripts.Render("~/bundles/gridstack")
    @Scripts.Render("~/bundles/morrisCharts")
    <script src="../../Content/build/js/widgets.js"></script>
    <script type="text/javascript">
        var alerts = [];

        //Loads the alerts inside the notifications panel in the top-navbar
        function loadAlerts(alertData) {
            for (var i = 0; i < alertData.length; i++) {
                var keys = Object.keys(alerts);
                if (!keys.includes(alertData[i].AlertId+"id")) {
                    $('#menu1').append("<li onclick=\"markAsRead("+alertData[i].AlertId +
                        ")\"><a><span><span><strong>" +
                        alertData[i].Name +
                        "</strong> is nu trending!</span></span><span class=\"message\">"+
                        jQuery.timeago(alertData[i].TimeStamp)+"</span></a></li>");
                    
                    //Loads the pop ups notifications.
                    new PNotify({
                        title: 'Trending Alert',
                        text: '<strong>' + alertData[i].Name + '</strong> is nu trending!',
                        type: 'success',
                        styling: 'bootstrap3'
                    });
                    
                    alerts[alertData[i].AlertId+"id"] = alertData[i].TimeStamp;
                }
            }
        }

        //ajax calls
        (function() {
            jQuery('span.timeago').timeago();
            $('#saveWidgets').on('click', saveGrid);
            //GET Request for alerts
            $.ajax('/api/User/@ViewBag.Id/GetAlerts',
                    {
                        type: 'GET',
                        dataType: 'json'
                    })
                .done(function(data) {
                    var alertData = data;
                    console.log(alertData);
                    loadAlerts(data);
                    $('#menu1').append(
                        "<li><div class=\"text-center\"><a><strong>See All Alerts</strong><i class=\"fa fa-angle-right\"></i></a></div></li>");
                    $('#alertCount').html(Object.keys(alerts).length);
                })
                //TODO: if FAIL proper error handling
                .fail(function() {
                    //error handling.
                    //currently not implemented because database needs to be initialized on page reload.
                });

            //GET Request for widgets
            $.ajax('/api/Widget',
                    {
                        type: 'GET',
                        dataType: 'json'
                    })
                .done(function(data) {
                    //if GET request is succesfull: call loadGrid() in widgets.js -> loads all widgets
                    loadGrid(data);
                })
                //TODO: if FAIL proper error handling
                .fail(function() { alert('Widgets could not be loaded.'); });

            $('#alertDropdown').on('click', loadAlerts);

            function markAsRead(id) {
                //TODO Ajax put
            }
        })(jQuery);
    </script>
}