@{
    ViewBag.Title = "About";
}

@section CustomCSS{
    <link rel="stylesheet" href="../../Content/gridstack/gridstack.css"/>
    <link href="../../vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="../../vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="../../vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
}

@section Alerts{
    <li role="presentation" class="dropdown">
        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
           aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-green">6</span>
        </a>
        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            @foreach (var alert in ViewBag.Alerts) {
                <li>
                    <a>
                        <span>
                            <span><strong>@Convert.ToString(alert.Subscription.SubscribedItem.Name)</strong> is now trending.</span>
                        </span>
                        <span class="message">
                            @Convert.ToString(alert.Subscription.SubscribedItem.LastUpdated)
                        </span>
                    </a>
                </li>
            }
            <li>
                <div class="text-center">
                    <a>
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </li>
        </ul>
    </li>
}

<section class="container-fluid">
    <h1>Widgets met grafieken</h1>
    <div>
        <button id="btnAddLine" class="btn btn-primary">Add line chart</button>
        <button id="btnAddPie" class="btn btn-primary">Add donut chart</button>
        <button id="btnAddBar" class="btn btn-primary">Add bar chart</button>
        <button id="saveWidgets" class="btn btn-primary">Save changes</button>
        <button class="btn btn-default source" onclick="new PNotify({ title: 'Regular Success', text: 'That thing that you were trying to do worked!', type: 'success', styling: 'bootstrap3' });">Success</button>
    </div>
    <br>

    <div class="grid-stack" id="grid">

    </div>
</section>

<div style="visibility: hidden">t</div>

@section CustomJS{
    <script src="../../Content/gridstack/jquery-ui.js">
    </script>
    <script src="../../Content/gridstack/underscore.min.js"></script>
    <script src="../../Content/gridstack/gridstack.js"></script>
    <script src="../../Content/gridstack/gridstack.jQueryUI.js"></script>
    <script src="../../vendors/raphael/raphael.min.js"></script>
    <script src="../../vendors/morris.js/morris.min.js"></script>
    <script src="../../Content/widgets/widgets.js"></script>
    <script src="../../vendors/pnotify/dist/pnotify.js"></script>
    <script src="../../vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="../../vendors/pnotify/dist/pnotify.nonblock.js"></script>
    <script type="text/javascript">
        (function() {
            $('#saveWidgets').on('click', saveGrid);

            //GET Request for the widgets
            $.ajax('/api/Widget',
                    {
                        type: 'GET',
                        dataType: 'json'
                    })
                .done(function(data) {
                    //if GET request is succesfull: call loadGrid() in widgets.js -> loads all widgets
                    loadGrid(data);
                })
                //TODO: if FAIL proper error handling
                .fail(function() { alert('Oeps, something went wrong!'); });
        })(jQuery);
    </script>
}