@{
  ViewBag.Title = Resources.ConfirmResetPassword;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.YourPasswordHasBeenReset @Resources.NowYouCan @Html.ActionLink(Resources.Login, "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })
        .
    </p>
</div>
