@model BAR.UI.MVC.Models.SubPlatformManagement

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_LayoutSubplatformOverview.cshtml";
}

<div role="main">
    <div class="row">
        @for (int i = 0; i < Model.SubPlatforms.Count(); i++)
        {
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile">
                <h2 style="text-align: center;">
                    @Html.Raw("<a href=\"https://" + Model.SubPlatforms.ElementAt(i).Name + ".localhost:44317\">" + Model.SubPlatforms.ElementAt(i).Name + "</a>")
                </h2>
            </div>
        </div>
        }
    </div>
</div>