@model BAR.UI.MVC.Models.RegisterViewModel

<footer class="joinus">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h1>
            <strong>Blijf op de hoogte.</strong>
        </h1>
        Maak een account om politici of partijen te volgen.
    </div>
    @using (Html.BeginForm("Register", "User", FormMethod.Post, new {@class = "form-horizontal", role = "form"})) {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control login-input", @placeholder = "E-mailadres"})
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                @Html.PasswordFor(m => m.Password, new {@class = "form-control login-input", @placeholder = "Wachtwoord"})
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="form-check login-input">
                    <button type="submit" class="btn btn-default login-input w-100 h-40">Registreer</button>
                </div>
            </div>
        </div>
    }
</footer>