<div class="modal makeGraphModal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="hidden wizardItemId1"></div>
        <div class="hidden wizardItemId2"></div>
        <div class="modal-content">
            <div class="modal-body">
                <div id="app">
                    <div>
                        <form-wizard @@on-complete="onComplete"
                                     title=""
                                     subtitle=""
                                     shape="circle"
                                     error-color="#ff4949"
                                     back-button-text="Terug"
                                     next-button-text="Volgende"
                                     finish-button-text="Plaats grafiek"
                                     color="#0f8ec4">
                            <!-- Stap 1 -->
                            <tab-content title="Element kiezen" icon="fa fa-user" :before-change="validateFirstTab">
                                <h1 class="text-center">Element kiezen</h1>
                                <h2 class="text-center">Bepaal welke data er op uw grafiek moet komen.</h2>
                                <vue-form-generator :model="model"
                                                    :schema="firstTabSchema"
                                                    :options="formOptions"
                                                    ref="firstTabForm">
                                </vue-form-generator>
                            </tab-content>

                            <!-- Stap 2 -->
                            <tab-content title="Grafiek kiezen" icon="fa fa-pie-chart" :before-change="validateSecondTab">
                                <h1 class="text-center">Kies een grafiek type.</h1>
                                <h2 class="text-center">Kies ook optionele verwante informatie</h2>
                                <vue-form-generator :model="model"
                                                    :schema="secondTabSchema"
                                                    :options="formOptions"
                                                    ref="secondTabForm">
                                </vue-form-generator>
                            </tab-content>

                            <!-- Stap 3 -->
                            <tab-content title="Verwante informatie" icon="fa fa-check">
                                <h4>Json (post naar apicontroller)</h4>
                                <div class="panel-body">
                                    <pre v-if="model" v-html="prettyJSON(model)"></pre>
                                </div>
                            </tab-content>
                        </form-wizard>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>