@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@helper selected(string c, string culture) {
    if (c == culture) {
        @:checked="checked"
    }
}

<div class="culture-form checkbox">
    @using (Html.BeginForm("SetCulture", "Home", new {@class = "form-horizontal"})) {
        <div class="">
            <label for="en-us">
                <input class="culture" name="culture" id="en-us" value="en-us" type="radio" @selected("en-us", culture)/>
                English
            </label>
        </div>
        <div class="">
            <label for="nl">
                <input class="culture" name="culture" id="nl" value="nl" type="radio" @selected("nl", culture)/>
                Nederlands
            </label>
        </div>
        <div class="">
            <label for="fr">
                <input class="culture" name="culture" id="fr" value="fr" type="radio" @selected("fr", culture)/>
                Français
            </label>
        </div>
    }
</div>