@using BAR.UI.MVC.Helpers
<li>
    <a href="@Url.PersonUrl()"><i class="fa fa-users"></i>Politici</a>
</li>
<li>
    <a href="@Url.OrganisationUrl()"><i class="fa fa-briefcase"></i>Partijen</a>
</li>
<li>
    <a href='#'><i class="fa fa-tag"></i>Thema's</a>
</li>