@using BAR.UI.MVC.Helpers
<li class="divider-top">
    <a href="@Url.SourceManagement()"><i class="fa fa-paperclip"></i> Bronnen beheren</a>
</li>
<li>
    <a href="@Url.AdminManagement()"><i class="fa fa-bank"></i> Admins beheren</a>
</li>
<li>
    <a href="@Url.PlatformManagement()"><i class="fa fa-globe"></i> Deelplatformen beheren</a>
</li>