@using BAR.UI.MVC.Helpers
<li class="divider-top">
    <a href="@Url.SourceManagement()"><i class="fa fa-paperclip"></i>@Resources.GeneralManagement</a>
</li>
<li>
    <a href="@Url.PlatformManagement()"><i class="fa fa-globe"></i>@Resources.SubPlatformManagement</a>
</li>