<div class="nav navbar-nav searchbar">
    <form class="navbar-form navbar-search zero-margin no-padding" role="search">
        <div class="input-group zero-margin">
            
            <div class="input-group-btn">
                <button type="button" class="btn btn-search h-40">
                    <i class="fa fa-search font_18"></i>
                </button>
            </div>
            <input type="text" class="form-control search-field h-40" placeholder="@Resources.SearchbarPlaceholder">
        </div>
    </form>
</div>
