@model BAR.UI.MVC.Models.BaseViewModel

<footer class="joinus">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h1>
            <strong>Blijf op de hoogte.</strong>
        </h1>
        Maak een account om politici of partijen te volgen.
    </div>
    <form role="form">
        <div class="form-group">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <input type="email" class="form-control login-input" placeholder="E-mailadres"/>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <input type="password" class="form-control login-input" placeholder="Password"/>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="form-check login-input">
                    <button type="button" class="btn btn-default login-input w-100 h-40">Registreer</button>
                </div>
            </div>
        </div>
    </form>
</footer>