@model IEnumerable<BAR.UI.MVC.Models.PersonDTO>

<table id="datatable-responsive" class="table dt-responsive nowrap table-hover" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfMentions)
        </th>
        <th>
            Positive
        </th>
        <th>
            Negative
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrendingPercentage)
        </th>
    </tr>
    </thead>
    <tbody>
    @Html.DisplayForModel()
    </tbody>
</table>