@using Barometer.Controllers
<!-- temp dashboard link for logged in users.-->
<li>
    <a href='@Url.Action(nameof(HomeController.Ingelogd), "Home")'><i class="fa fa-bar-chart-o"></i> Dashboard </a>
</li>
<li>
    <a href='/#nieuws'><i class="fa fa-newspaper-o"></i> Nieuws </a>
<li/>
<li>
    <a href='@Url.Action(nameof(PersonenController.Index), "Personen")'><i class="fa fa-users"></i>Personen</a>
</li>
<li>
    <a href='@Url.Action("Index", "Partijen")'><i class="fa fa-briefcase"></i>Partijen</a>
</li>
<li>
    <a href='@Url.Action("Index", "Themas")'><i class="fa fa-tag"></i>Thema's</a>
</li>