<div class="nav navbar-nav searchbar">
    <form class="navbar-form navbar-search zero-margin" role="search">
        <div class="input-group zero-margin w-100">
            <div class="input-group-btn">
                <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-search"></span>
                    <span class="label-icon">Search</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-left dropdown-search pull-left" role="menu">
                    <li>
                        <a href="#">
                            <span class="fa fa-users"></span>
                            <span class="label-icon">Personen</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-briefcase"></span>
                            <span class="label-icon">Partijen</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-tag"></span>
                            <span class="label-icon">Thema's</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-paperclip"></span>
                            <span class="label-icon">Algemeen</span>
                        </a>
                    </li>
                </ul>
            </div>

            <input type="text" class="form-control search-field" placeholder="Zoeken naar ...">

            <div class="input-group-btn">
                <button type="button" class="btn btn-search btn-default">
                    GO
                </button>
            </div>
        </div>
    </form>
</div>