@using System.Web.Optimization

@section CustomCSS {
    <link rel="stylesheet" href="../../Content/build/css/vendor/gridstack.css" />
}

<h1>@Model.PageTitle</h1>
<hr/>
<section class="admin-dashboard">
    <div class="grid-stack" id="admin-grid"></div>
</section>

@section CustomJS {
    <script src="~/Scripts/ChartJS/Chart.js"></script>
    @Scripts.Render("~/bundles/gridstack")
    <script src="~/Content/build/js/admindashboard.js"></script>
}