@using System.Web.Optimization
@model BAR.UI.MVC.Models.EditUserViewModel

@section CustomCSS{
    <link href="~/Scripts/datatables/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Scripts/datatables/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet" />

}

<h1>@Model.PageTitle</h1>
<hr />
@if (User.IsInRole("Admin"))
{
    @Html.Partial("Partials/_UserTable", Model)
}
else
{
    @Html.Partial("Partials/_AdminTable", Model)
}
<div class="space">space</div>
<div class="space">space</div>

@section CustomJS{
    <script src="~/Scripts/datatables/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script src="~/Scripts/datatables/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/Scripts/datatables/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Scripts/datatables/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Scripts/datatables/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Scripts/datatables/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/datatables/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Scripts/DataExport/jszip.min.js"></script>
    <script src="~/Scripts/DataExport/pdfmake.min.js"></script>
    <script src="~/Scripts/DataExport/vfs_fonts.js"></script>
    <script src="~/Scripts/DataExport/buttons.html5.min.js"></script>
    <script src="~/Content/build/js/usermanagement.js"></script>
}