@using BAR.UI.MVC.Helpers
<link href="~/Content/build/css/partials/error.css" rel="stylesheet" />

<div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x1_5"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
</div>
<div class='c'>
    <div class='_errorcode'>Error</div>
    <hr>
    <div class='_1'>@Resources.SomethingWentWrong</div>
    <br />
    <br />
    <a class='btnback' href='@Url.RootUrl()'>@Resources.BackToHome</a>
</div>